<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="<?php echo base_url('application/public/admin') ?>/css/login.css" />
	<script type="text/javascript" src="<?php echo base_url('application/public/admin')?>/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="<?php echo base_url('application/public/admin')?>/js/login.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#capt').click();
		});
		function getCode(obj){
			 $.get("<?php echo base_url('admin.php/login/captcha') ?>", "", function(responseData){
                var responseData = eval("("+responseData+")");
                    $("#capt").attr("src", responseData.captcha);
            });
		}
	</script>
	<title></title>
</head>
<body>
	<div id="divBox">
		<form action="<?php echo base_url('admin.php/login/check') ?>" method="POST" id="login">
			<input type="text" id="userName" name="username"/>
			<input type="password" id="psd" name="passwd"/>
			<input type="text" value="" id="verify" name="captcha"/>
			<input type="submit" id="sub" value=""/>
			<!-- 验证码 -->
			<div class="captcha">
				<!-- <?php echo base_url('admin.php/login/captcha') ?> -->
			 <img src="" onclick="getCode(this)" id="capt">
			</div>
		</form>
		<div class="four_bj">
			
			<p class="f_lt"></p>
			<p class="f_rt"></p>
			<p class="f_lb"></p>
			<p class="f_rb"></p>
		</div>
	</div>
<!--[if IE 6]>
    <script type="text/javascript" src="<?php echo base_url() . 'style/admin/' ?>js/iepng.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('form','background');
    </script>
<![endif]-->
</body>
</html>