<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后盾网</title>
<link href="<?php echo base_url('application/public/index')?>/css/details.css" rel="stylesheet" />
<link href="<?php echo base_url('application/public/index')?>/css/common.css" rel="stylesheet" />
<script type="text/javascript" src="<?php echo base_url('application/public/index')?>/js/index.js"></script>
<script type="text/javascript" src="<?php echo base_url('application/public/index')?>/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	$(function(){
		// 删除加载失败的图片标签
	    var obj=$("#article_pic");
	        obj.error(function(){
	        obj.remove();
        });
	});
</script>
<style type="text/css">
	#top{
    height: 60px;
}
</style>
</head>
<body>
	<div id="top">
		<div class='pos'>
			<div class='user'>
			 	<a href="<?php echo site_url('account/login')?>">登录</a>
				<a href="<?php echo site_url('account/register')?>">注册</a>
			</div>
		</div>	
	</div>
	<div id="header">
		<div class='logo'>
			
		</div>
		<div class='navigation'>
			<a href="">首页</a>
		</div>
	</div>




	<div id="main">
		<div class='details'>
			<h1><?php echo $detail[0]['title']?></h1>
			<div class='info'>
				<div class='base'>
					<em>发表于<?php echo date('Y-m-d',$detail[0]['pubdate'])?></em>, 作者:<span><?php echo $detail[0]['author']?></span>, 分类：<strong><?php echo $detail[0]['cname']?></strong>
				</div>
				<div class='tag'>
					标签:
					<a href="">作者</a>,
					<a href="">分类</a>
				</div>
			</div>
			<div class='content'>
				 <img id="article_pic" src="<?php echo base_url('application/upload').'/'.$detail[0]['thumb']?>" width="400px">
				 <br/>
				 <br/>
				 <?php echo $detail[0]['content']?>
				<br/><br/><br/><br/>	
						
			</div> 
			 <br/><br/>
				 
			<div class="comment">
				<br/><br/><br/><br/>	
				<h2 >评论区</h2><br/>
				<textarea>1</textarea><br>
				<input type="submit" value="提交" id="comment_submit" />
			</div>		

			<div class="showlist">
					<br/><br/>	
					<h2 >精彩评论</h2>
					<ul>
						<li class ="discuss_item" id="cid6110447476643201027">
							<div class="discuss_opr">
								<span class="media_tool_meta tips_global meta_praise js_comment_praise " data-status="0" data-content-id="6110447476643201027"> <i class="icon_praise_gray"></i>
									<span class="praise_num">339</span>
								</span>
							</div>
							<div class="user_info"> <strong class="nickname">刘志斌</strong>
								<img class="avatar" src="http://wx.qlogo.cn/mmopen/vi_24/ZBicLbWxd8ZATZ75KyNnZxSOawY7hkIic2JsyjFQPOm5CvHfvumzHYtzU08hLSzx8HwnyGPhsjBew/96"></div>
							<div class="discuss_message">
								<span class="discuss_status"></span>
								<div class="discuss_message_content">
									尽管多姿多彩的人生旅途是无穷无尽的，但我也会有觉得累了的时候，然后停下来想一想，每一次我在料理人生感悟的时候，德芬老师总是“无处不在”！
								</div>
							</div>
							<p class="discuss_extra_info">昨天</p>
						</li>
					</ul>
			</div>		
		</div>
		<div class='sidebar'>
			<div class='item'>
				<h2>最新文章</h2>
				<ul class='flink'>
				<?php  foreach($recent_title as $v):?>
					<li><a href="<?php echo site_url('detail/index' ."/". $v['id']) ?>"><?php echo $v['title']?></a></li>
				<?php endforeach?>
				</ul>
			</div>
			
		</div>
	</div>

<?php $this->load->view('index/foot.html') ?>
	