<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后盾网</title>
<link href="<?php echo base_url('application/public/index')?>/css/details.css" rel="stylesheet" />
<link href="<?php echo base_url('application/public/index')?>/css/common.css" rel="stylesheet" />
<script type="text/javascript" src="<?php echo base_url('application/public/index')?>/js/index.js"></script>
<script type="text/javascript" src="<?php echo base_url('application/public/index')?>/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	$(function(){
		// 删除加载失败的图片标签
	    var obj=$("#article_pic");
	        obj.error(function(){
	        obj.remove();
        });
	});
</script>
</head>
<body>
	<div id="top">
		<div class='pos'>
			<div class='user'>
			 	<a href="">登录</a>
				<a href="">注册</a>
			</div>
		</div>	
	</div>
	<div id="header">
		<div class='logo'>
			
		</div>
		<div class='navigation'>
			<a href="">首页</a>
			<a href="">首页</a>
			<a href="">首页</a>
			<a href="">首页</a>
		</div>
	</div>




	<div id="main">
		<div class='details'>
			<h1><?php echo $detail[0]['title']?></h1>
			<div class='info'>
				<div class='base'>
					<em>发表于<?php echo date('Y-m-d',$detail[0]['pubdate'])?></em>, 作者:<span><?php echo $detail[0]['author']?></span>, 分类：<strong><?php echo $detail[0]['cname']?></strong>
				</div>
				<div class='tag'>
					标签:
					<a href="">作者</a>,
					<a href="">分类</a>
				</div>
			</div>
			<div class='content'>
				 <img id="article_pic" src="<?php echo base_url('application/upload').'/'.$detail[0]['thumb']?>" width="400px">
				 <br/>
				 <br/>
				 <?php echo $detail[0]['content']?>
 				<br/>
				 <br/>
				 	<br/>
				 <br/>	
						
			</div> 
			 <br/>
				 <br/>
			<div class="comment">

			<p >评论区</p>
				<textarea>1</textarea><br>
					<input type="submit" value="提交" />
			</div>		

			<div class="showlist">
				<p >精彩评论</p>
				<textarea>1</textarea><br>
					<input type="submit" value="提交" />
			</div>		
		</div>
		<div class='sidebar'>
			<div class='item'>
				<h2>最新文章</h2>
				<ul class='flink'>
				<?php  foreach($recent_title as $v):?>
					<li><a href="<?php echo site_url('detail/index' ."/". $v['id']) ?>"><?php echo $v['title']?></a></li>
				<?php endforeach?>
				</ul>
			</div>
			
		</div>
	</div>

<?php $this->load->view('index/foot.html') ?>
	