<link href="<?php echo base_url() . 'application/public/index/' ?>css/common.css" rel="stylesheet" />
<style type="text/css">
	#top{
    height: 60px;
	}
	#comment_text{
		width:300px;height:100px;
	}
</style>
</head>	
<body>
	<div id="top">
		<div class='pos'>
			<div class='user'>
			 	<a href="<?php echo site_url('account/login')?>">登录</a>
				<a href="<?php echo site_url('account/register')?>">注册</a>
			</div>
		</div>	
	</div>
	<div id="header">
		<div class='logo'>
			<a href=""><img src="<?php echo base_url() . 'application/public/index/' ?>images/logo.jpg" alt=""></a>
		</div>
		<div class='navigation'>
			<a href="<?php echo site_url()?>">首页</a>
			<a href="<?php echo site_url() .  '/home/category'?>">栏目</a>
		</div>
	</div>